* {
  margin: 0;
  padding: 0;
  
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/background-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Navbar Container */

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: rgba(23, 23, 23, .8);
}

.navbar .logo img {
  padding-left: 40px;
  width: 240px;
}

.navbar .navbar-links ul {
  padding-right: 40px;
  list-style: none;
  display: flex;
}

.navbar .navbar-links ul li {
  padding: 20px;
}


.navbar .navbar-links a {
  font-family: "inter";
  border-bottom: 1px solid transparent;
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.navbar .navbar-links a:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

/* Login Container */

.login-container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 100px;
  width: 530px;
  background-color: rgba(24, 24, 24, 0.67);
  border-radius: 15px;   
}

.test2 {
  padding-bottom: 100px;
}

.login-container .input-form {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: calc(90% - 130px);
  display: flex;
  flex-direction: column;
  font-family: "inter";
}

.login-container .input-form h2 {
  font-weight: normal;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: rgb(234, 234, 234);
  font-size: 22px;
  padding-bottom: 10px;
}

.login-container .input-form h1 {
  padding-top: 50px;
  letter-spacing: 1px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-size: 39px;
}

.login-container .input-form button {
  width: 350px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.login-container .input-form .test label {
  color: white;
}

.login-container .input-form input {
  width: 350px;
  margin: 3px 0 10px 0;
  height: 50px;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  padding: 20px;
  font-size: 15px;
  font-family: "inter";
}

.login-container .input-form .test button {
  margin-top: 10px;
  background-color: rgb(112,	255,	109);
  font-weight: bold;
  letter-spacing: 0.7px;
  color: rgb(37, 37, 37);
}

.login-container .input-form a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.login-container .input-form .link-forgotpassword {
  margin-left: auto;
  margin-top: 5px;
}

.login-container .input-form .or-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.login-container .input-form .or-container hr {
  width: 150px;
  height: 0;
}

.login-container .input-form .or-container h4 {
  color: white;
  padding: 0 10px;
}

.login-container .input-form .link-notmember {
  padding: 30px 0 50px 0;
  margin-left: auto;
  margin-right: auto;
}

.signinWithGoogle, .signinWithSteam {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;  
}

.signinWithGoogle img, .signinWithSteam img {
  width: 35px;
}

.signinWithGoogle p, .signinWithSteam p {
  padding: 30px;
}

.signinWithGoogle {
  font-weight: bold;
  color: #444;
  background-color: rgb(255, 255, 255);
}

.signinWithSteam {
  background-color:rgb(15,23,42);
  color: white;
}


